@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="margin-top:1rem">
    <RadzenButton Text="Radzen Button" Icon="home" Style="margin-right: 8px" />
    <RadzenBadge Style="margin-left: 4px" Text="New" />
</div>
